body{
background-color:black;
margin:20px;
}

#p {
color:white;

}

#m{
background-color:gray;
text-align:center;
}
#ps{
display:flex;
background-color:gray;
justify-content:center;
align-items:center;
}

h1{
padding:30px;
}

pre{
margin:60px;
font-size:20px;
}