body{
background-color:black;
}

#new{
color:white;
font-size:20px;
margin:50px;
}



p{
padding:0px;
}

.overlay{
text-align:center;

}

h1{
color:goldenrod;
}

#cen{
background-color:gray;
margin:20px;
}

#heading{
display:flex;
justify-content:center;
align-items:center;
background-color:gray;
width:auto;
height:70px;

}