body{
background-color:black;
margin:20px;
}

div{
color:white;
text-align:left;
}



#p{
font-size:20px;

}

#heading{
text-align:left;
margin-left:20px;
color:wheat;
}

.vedio-container{
position:relative;
}

.vedio-container video{
width:70%;
height:auto;
}

.overlay{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
font-size:50px;
font-weight:bold;
}




#h{
font-size:30px;
color:goldenrod;
}

#sub{
margin:50px;
}




